@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.h-1 {
  height: 0.25rem;
}
.h-2 {
  height: 0.5rem;
}
.h-3 {
  height: 0.75rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-9 {
  height: 2.25rem;
}
.h-10 {
  height: 2.5rem;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-13 {
  height: 3.25rem;
}
.h-14 {
  height: 3.5rem;
}
.h-15 {
  height: 3.75rem;
}
.h-16 {
  height: 4rem;
}
.h-17 {
  height: 4.25rem;
}
.h-18 {
  height: 4.5rem;
}
.h-19 {
  height: 4.75rem;
}
.h-20 {
  height: 5rem;
}
.h-21 {
  height: 5.25rem;
}
.h-22 {
  height: 5.5rem;
}
.h-23 {
  height: 5.75rem;
}
.h-24 {
  height: 6rem;
}
.h-25 {
  height: 6.25rem;
}
.h-26 {
  height: 6.5rem;
}
.h-27 {
  height: 6.75rem;
}
.h-28 {
  height: 7rem;
}
.h-29 {
  height: 7.25rem;
}
.h-30 {
  height: 7.5rem;
}
.h-31 {
  height: 7.75rem;
}
.h-32 {
  height: 8rem;
}
.h-33 {
  height: 8.25rem;
}
.h-34 {
  height: 8.5rem;
}
.h-35 {
  height: 8.75rem;
}
.h-36 {
  height: 9rem;
}
.h-37 {
  height: 9.25rem;
}
.h-38 {
  height: 9.5rem;
}
.h-39 {
  height: 9.75rem;
}
.h-40 {
  height: 10rem;
}

.sb-main-padded {
  padding: 0 !important;
}